
<div class="statusbar-overlay"></div>
<div class="panel-overlay"></div>
<div class="views">
    <div class="view view-main">
        <div class="pages navbar-fixed">
            <div data-page="main" class="page page-on-center main_page">
                <% include ./_parts/navbar %>

                <div class="page-content">
                    <div class="main_page_content">
                        <div class="swiper-container swiper-init" data-speed="400" data-space-between="40" data-pagination=".swiper-pagination">
                            <div class="swiper-wrapper">
                                <%for(var i = 0 ; i < 5 ; i++){%>
                                    <div class="swiper-slide"><a href="#"><img src="./img/mainbanner.png" alt=""></a></div> 
                                <%}%>
                            </div>
                        <div class="swiper-pagination"></div>
                     </div> 
                     <%for(var i = 0 ; i < 3 ; i++){%>
                            <div class="main_goods">
                                <div class="main_goods_pic"><img src="./img/Layer-11.png" alt=""></div>
                                <div class="main_goods_info">
                                        <span class="sale_percent">50%</span>
                                        <p class="goods_prices">
                                            <del class="origin_price">$600.00</del>
                                            <span class="current_price">$300.00 <i class="korea_price">(약 250,687원)</i></span>
                                        </p>
                                    <p class="goods_introduction">샤오미 미밴드1S펄스 스마트밴드 미밴드</p>
                                    <p class="goods_tags">
                                        <i><img src="./img/korea_test.png" alt=""></i>
                                        <%for(var j = 0 ; j < 4 ; j++){%>
                                            <span class="tags_item">묶음배송</span>
                                        <%}%>
                                    </p>
                                </div>
                            </div> 
                    <%}%>
                            
                    </div>
                </div>
                <div class="backtoTop"><a href="javascript:;"><i class="toTop"></i></a></div>
                <% include ./_parts/toolbar %>
            </div>
        </div>
    </div>
</div>

