@charset "UTF-8";
@import 'base/base';


.mypage_index_page{
    background:$bg;
}
.mypage_index_content{
    padding:65px 15px;
    .main_section{
        width:100%;
        header{
            background:$orange;
            padding-left:10px;
            h3{
                display:inline;
                font-weight:300;
                font-size:13px;
                color:$white;
                height:50px;line-height:50px;
            }
            .setting,.address{
                float:right;
                height:50px;line-height:50px;
                color:$white;
                font-size:10px;
                font-weight:lighter;
                padding-left:20px;
                margin:0 10px;
                position:relative;
                &:before{
                    content:'';
                    position:absolute;
                    left:0;top:50%;
                    width:16px;height:16px;
                    margin-top:-8px;
                    background:url(../img/sp.png) no-repeat;
                    background-size:250px 250px;
                }
                &.setting:before{
                    background-position:-205px -20px;
                }
                &.address:before{
                    background-position:-188px -20px;
                }
            }
            
        }
    }
    .content{
        width:100%;height:60px;line-height:60px;
        background:$lightOrange;
        li{
            width:25%;
            float:left;
            color:$white;
            text-align:center;
            span{
                display:block;
                font-size:10px;
                height:30px;
                line-height:40px;
            }
            em{
                font-size:18px;
                font-style: normal;
                display:block;
                font-weight:600;
                height:30px;
                line-height:28px;
            }
        }
    }
}
