@charset "UTF-8";
@import 'base/base';

.mypage_member-drop-success_page{
    *{box-sizing:border-box}
}
.mypage_member-drop-success_page{
    .success_content{
        padding:80px 30px;
        font-size:15px;
        color:$c28;
        text-align:center;
        p{
            min-height:20px;
            line-height:20px;
        }
    }
    .success_btn{
        margin-top:20px;
        background:$grey;
        width:90%;height:40px;line-height:40px;
        text-align:center;
        margin:0 auto;
        color:$white;
        font-size:13px;
        font-weight:bold;
    }
}
