<div class="statusbar-overlay"></div>
<div class="panel-overlay"></div>
<div class="views">
    <div class="view view-main">
        <div class="pages navbar-fixed">
            <div data-page="test" class="page">
              <% for(var i=0; i<8; i++) {%>
   					<li class='red'> haha</li>
			<% } %>
            </div>
        </div>
    </div>
</div>