<div class="statusbar-overlay"></div>
<div class="panel-overlay"></div>
<div class="views">
    <div class="view view-main">
        <div class="pages navbar-fixed">
            <div data-page="address" class="page page-on-center mypage_address_page">
                <% include ./_parts/navbar %>

                <div class="page-content">
                    <div class="mypage_address_content">
                        <!-- add button -->
                        <div class="add_button">
                            <span>새로운 주소록 추가하기</span>
                        </div>

                        <!-- valid address -->
                        <%for(var i = 0 ; i < 5 ; i++){%>
                        <section class="address_cell <%if(i<1){%>cur<%}%>">
                            <header>
                                <span class="title">사무실</span>
                                <span class="edit_button">수정</span>
                                <span class="edit_button">기본주소설정</span>
                            </header>
                            <div class="content">
                                <div>
                                    <span class="left">받는사람</span>
                                    <span class="right">홍길동</span>
                                </div>
                                <div>
                                    <span class="left">주소</span>
                                    <span class="right">(12345) 서울시 강남구 테헤란로 14길 16 , 라인빌딩 9층 Gshopper korea</span>
                                </div>
                                <div>
                                    <span class="left">휴대폰</span>
                                    <span class="right">010 - 1234 - 1234</span>
                                </div>
                            </div>
                        </section>
                        <%}%>

                    </div>
                </div>

                <% include ./_parts/toolbar %>
            </div>
        </div>
    </div>
</div>

