<div class="statusbar-overlay"></div>
<div class="panel-overlay"></div>
<div class="views">
    <div class="view view-main">
        <div class="pages navbar-fixed">
            <div data-page="address_add" class="page page-on-center mypage_address-add_page">
                <% include ./_parts/navbar %>

                <div class="page-content">

                    <section class="mypage_address-add_content">
                        <header>배송지 정보</header>


                        <div class="list-block">
                            <ul>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label">label</div>
                                            <div class="item-input">
                                                <input type="text" placeholder="value">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label">label</div>
                                            <div class="item-input">
                                                <input type="text" placeholder="value">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="input_with_button">
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label">label</div>
                                            <div class="item-input">
                                                <input class="inner_input" type="text" placeholder="value">
                                            </div>
                                            <div class="inner_button">click me</div>
                                        </div>
                                    </div>
                                </li>

                                <li class="input_with_outline">
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label">label</div>
                                            <div class="item-input">
                                                <input class="inner_input" type="text" placeholder="value">
                                            </div>
                                            <div class="inner_outline">
                                                <i></i>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="input_with_outline">
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label">label</div>
                                            <div class="item-input">
                                                <input class="inner_input" type="text" placeholder="value">
                                            </div>
                                            <div class="inner_outline">
                                                <i></i>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label">label</div>
                                            <div class="item-input">
                                                <input type="text" placeholder="value">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="item-content">
                                        <div class="item-inner">
                                            <div class="item-title label">label</div>
                                            <div class="item-input">
                                                <input type="text" placeholder="value">
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="input_with_checkbox">
                                    <label class="label-checkbox item-content agree_check">
                                        <input type="checkbox" name="agree1" value="이용약관(필수)" checked="checked">
                                        <div class="item-media"><i class="icon icon-form-checkbox"></i>checkname</div>
                                    </label>
                                </li>
                            </ul>
                        </div>

                        <span class="add_btn">
                            button
                        </span>

                        <div class="edit_btns">
                            <span class="cancel">cancel</span>
                            <span class="confirm">confirm</span>
                        </div>

                    </section>
                </div>

                <% include ./_parts/toolbar %>
            </div>
        </div>
    </div>
</div>


