<div class="statusbar-overlay"></div>
<div class="panel-overlay"></div>
<div class="views">
	<div class="view view-main">
        <div class="pages navbar-fixed">
            <div data-page="mypage-index" class="page page-on-center mypage_index_page">
                <% include ./_parts/navbar %>

                <!-- content start -->
                <div class="mypage_index_content">
                    <section class="main_section">
                        <header>
                            <h3>홍길동(gshopper)님</h3>
                            <span class="setting">회원정보</span>
                            <span class="address">내주소록</span>
                        </header>
                        <ul class="content">
                            <li>
                                <span>배송중</span>
                                <em>14</em>
                            </li>
                            <li>
                                <span>장바구니</span>
                                <em>8</em>
                            </li>
                            <li>
                                <span>최근본상품</span>
                                <em>+999</em>
                            </li>
                            <li>
                                <span>내 쿠폰</span>
                                <em>5</em>
                            </li>
                        </ul>
                    </section>
                </div>
                <!-- content end -->

                <% include ./_parts/toolbar %>
            </div>
        </div>
    </div>
</div>
