<div class="statusbar-overlay"></div>
<div class="panel-overlay"></div>
<div class="views">
    <div class="view view-main">
        <div class="pages navbar-fixed">
            <div data-page="logistics" class="page page-on-center mypage_logistics_page">
                <% include ./_parts/navbar %>

                <div class="page-content">

                    <section class="mypage_logistics_content">
                        <header>title</header>
                        <div class="logistics_banner">
                            <i class="status_icon"></i>
                            <span class="status_name">status</span>
                            <span class="info">logistics id : 1122334455</span>
                            <span class="info">logistics status : 5544332211</span>
                        </div>
                        <ul class="logistics_table">
                            <%for(var i = 0;i < 4;i++){%>

                            <%if(i == 0){%>
                            <li class="table_header">
                                <%}else{%>
                                <li>
                                    <%}%>

                                    <span class="left">left</span>
                                    <span class="center">centercentercentercentercentercentercentercentercentercenter</span>
                                    <span class="right">rightrightrightrightrightrightrightrightrightright</span>

                                    <i class="border_1"></i>
                                    <i class="border_2"></i>

                                </li>
                                <%}%>
                            </ul>
                            <div class="add_btn">
                                click me  +
                            </div>
                        </section>
                    </div>


                    <% include ./_parts/toolbar %>
                </div>
            </div>
        </div>
    </div>




