<div class="statusbar-overlay"></div>
<div class="panel-overlay"></div>
<div class="views">
    <div class="view view-main">
        <div class="pages navbar-fixed">
            <div data-page="address_add" class="page page-on-center mypage_member-drop-success_page">
                <% include ./_parts/navbar %>

                <div class="page-content">

                    <section class="mypage_member-drop-success_content">
                        <div class="success_content">
                            <p>
                            <b>bold </b>
                            not bold
                            not bold
                            not bold
                            </p>
                            <p>
                            not bold
                            not bold
                            not bold
                            not bold
                            not bold
                            </p>
                        </div>
                        <div class="success_btn">Click Me !</div>
                    </section>
                </div>

                <% include ./_parts/toolbar %>
            </div>
        </div>
    </div>
</div>

