@charset "UTF-8";
@import 'base/base';
.history_page {
    * {
        box-sizing: border-box;
    }
    .history_tools {
        padding: 0px 15px;
        height: 40px;
        font-size: 12px;
        box-shadow: 0px 2px 3px 0px $cd;
    }
    .history_tools {
        .input_with_checkbox {
            line-height: 40px;
            float: left;
            .total_num {
                font-style: normal;
                padding: 0px 4px;
            }
            .icon-form-checkbox {
                margin-right: 6px;
            }
        }
    }
    .del_btn {
        padding: 0px 12px;
        margin-top: 10px;
        height: 20px;
        line-height: 20px;
        display: block;
        float: right;
        border: 1px solid $cd;
        color: $black;
    }
}

.history_lists {
    padding: 15px;
    .history_product_item {
        background: $white;
        margin-bottom: 15px;
        width: 100%;
        height: 158px;
        border: 1px solid $cd;
    }
    .product_item_top {
        padding: 0px 9px;
        position: relative;
        height: 30px;
        line-height: 30px;
        width: 100%;
        border-bottom: 1px solid $cd;
        background-color: $white;
        .label-checkbox {
            @include sln();
        }
    }
    .btn_delete {
        display: block;
        width: 15px;
        height: 15px;
        background: url(../img/sp.png) no-repeat -130px -40px;
        background-size: 250px 250px;
        position: absolute;
        top: 6px;
        right: 9px;
    }
    .label-checkbox {
        float: left;
    }
    .icon-form-checkbox {
        margin-top: -1px;
    }
}

.history_page {
    .product_info {
        padding: 7px 9px;
        background-color: $white;
        height: 126px;
        >img {
            float: left;
            width: 82px;
            height: 82px;
        }
        .product_item_model {
            line-height: 24px;
            font-size: 12px;
            color: $c87;
        }
        .product_item_price {
            color: $orange;
        }
        .confirm_order {
            float: right;
            margin-top: 10px;
            margin-left: 6px;
            padding: 0px 14px;
            height: 22px;
            line-height: 22px;
            border: 1px solid $orange;
            color: $orange;
        }
        .num_count {
            float: right;
            margin-top: 10px;
            display: inline-block;
            height: 22px;
            .btn_m {
                background-position: -150px -40px;
            }
            .btn_p {
                background-position: -175px -40px;
            }
            input {
                height: 22px;
                width: 40px;
                border: 1px solid #878787;
                box-sizing: border-box;
                vertical-align: top;
                text-align: center;
                color: #878787;
            }
            a {
                display: inline-block;
                width: 22px;
                height: 22px;
                background: url(../img/sp.png) no-repeat 0 0;
                background-size: 250px 250px;
            }
        }
        .goods_tags {
            img {
                width: 24px;
                height: 16px;
            }
        }
    }
}

.history_goods_info {
    padding: 0px 15px;
    height: 128px;
    .sale_percent {   
        float: left;
        font-size: 22px;
        font-weight: 600;
        padding-right: 10px;
        line-height: 42px;
    }
    .goods_prices {  
        float: left;
        height: 42px;
    }
    .origin_price {
        display: block;
        font-size: 12px;
        color: $grey;
    }
    .current_price {
        color: $orange;
        font-size: 16px;
        font-weight: 600;
        .korea_price {
            color: $c28;
            font-style: normal;
            font-size: 14px;
            font-weight: 400;
        }
    }
    .goods_introduction {
        color: $black;
        font-size: 16px;
       
        line-height: 24px;
    }
    .goods_tags {
        line-height: 32px;
        height: 32px;
        img {
            width: 24px;
        }
        .tags_item {
            padding: 0px 6px;
            font-weight: 600;
            font-size: 10px;
        }
        .tags_item:nth-child(4n-3) {
            color: $blue;
        }
        .tags_item:nth-child(4n-2) {
            color: $orange;
        }
        .tags_item:nth-child(4n-1) {
            color: $green;
        }
        .tags_item:nth-child(4n) {
            color: $deepPink;
        }
    }
}