<div class="statusbar-overlay category_product_overlay"></div>

<div class="views">
    <div class="view view-main">
        <div class="pages navbar-fixed">
            <div data-page="search" class="page page-on-center search_page">
                <% include ./_parts/navbar %>
                    <div class="page-content">
                        <div class="search_page_content">
                            <div class="content-block">
                                <!-- tabs控制面板 -->
                                <div class="buttons-row">
                                    <!-- 关联到第一个tab, 默认激活 -->
                                    <a href="#tab1" class="tab-link active ">인기검색어</a>
                                    <!-- 关联到第二个tab -->
                                    <span></span>
                                    <a href="#tab2" class="tab-link ">최근검색어</a>
                                </div>
                            </div>
                            <!-- Tabs, 标签内容区容器 -->
                            <div class="tabs">
                                <!-- Tab 1, 默认激活 -->
                                <div id="tab1" class="tab active">
                                    <div class="content-block">
                                        <ul class="search_popular">
                                            <li><a href="#">메리즈 유아용</a></li>
                                            <li><a href="#">미노트2</a></li>
                                            <li><a href="#">샤오미 공기청정기</a></li>
                                            <li><a href="#">샤오미 나인봇</a></li>
                                            <li><a href="#">퍼펙트휩</a></li>     
                                            <li><a href="#">진주 팩</a></li>   
                                        </ul>
                                    </div>
                                </div>
                                <!-- Tab 2 -->
                                <div id="tab2" class="tab">
                                    <div class="content-block">
                                        <ul class="search_recent">
                                            <li><span>메리즈 유아용</span><i class="icon-del"></i></li>
                                            <li><span>샤오미 공기청정기</span><i class="icon-del"></i></li>
                                            <li><span>퍼펙트휩</span><i class="icon-del"></i></li>
                                            <li><span>샤오미 공기청정기</span><i class="icon-del"></i></li>
                                            <li><span>퍼펙트휩</span><i class="icon-del"></i></li>
                                        </ul>
                                        <div class="search_recent_delall"><span><a href="#">전체삭제</a></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="search_relation">
                            <li><a href="#">샤오미</a></li>
                            <li><a href="#">샤오미 배터리</a></li>
                            <li><a href="#">샤오미 충전기</a></li>
                            <li><a href="#">샤오미 로봇청소기</a></li>
                            <li><a href="#">샤오미 공기청정기</a></li>
                        </ul>                                    
                    </div>
            </div>
        </div>
    </div>
</div>