<div class="top-bar">
    <ul>
        <% for(var i = 0 ; i < 4 ; i++){ %>
        <li class="blue-item <% if(i < 1){ %>red-item<% } %> "><a href="#">{%=i%}</a></li>
        <% } %>
        >
    </ul>
</div>