<div class="toolbar toolbar-bottom prompt">
<div class="toolbar-inner">
    <div class="left">
        <div class="total_num">총 3개</div>
        <div class="total_payment">총 $1,950.00</div>
    </div>
     <a href="#" class="btn">구매하기</a>
</div>
</div>
