<div class="navbar main_navbar">
<div class="navbar-inner">
<div class="left"><a href="#" data-panel="left" class="open-panel"><i class="left_menu"></i></a></div>
<div class="center"><i class="main_logo"></i></div>
<div class="right"><a href="#" class="btn_cart link"><i class="icon icon-cart"><span>99</span></i></a></div>
</div>
<div class="search_bar"><input class="search_bar_input" type="text" placeholder="샤오미 미에어2 20% 할인"><i class="icon icon-search"></i></div>
</div>
