<div class="toolbar toolbar-bottom nav">
<div class="toolbar-inner">
<a href="#" class="link no-animation"><i class="icon icon-home"></i></a>
<a href="#" class="link no-animation"><i class="icon icon-nav"></i></a>
<a href="#" class="link no-animation"><i class="icon icon-cart"><span>99</span></i></a>
<a href="#" class="link no-animation"><i class="icon icon-mypage"></i></a>
<a href="#" class="link no-animation"><i class="icon icon-history"><span>99</span></i></a>
</div>
</div>
