.popover{width:200px}
.ks-grid div[class*=col-]{margin-bottom:15px;padding:5px;border:1px solid #ddd;background:#fff;color:#000;text-align:center}
.ks-preloaders{text-align:center}
.ks-preloader-big{width:42px;height:42px}
.item-media img{width:auto;max-width:40px;height:auto;border-radius:50%}
.tabbar i.icon{-webkit-transition:200ms;transition:200ms}

/* common */
body{min-width:320px}
.blind{overflow:hidden !important;position:absolute !important;top:0 !important;bottom:100% !important;width:1px !important;background:none !important}
ul,ol,li,p{margin:0;padding:0;list-style:none}
fieldset{margin:0;padding:0;border:0}
label.label-checkbox input[type=checkbox]:checked + .item-media i.icon-form-checkbox,label.label-checkbox input[type=radio]:checked + .item-media i.icon-form-checkbox,label.label-checkbox input[type=checkbox]:checked ~ .item-after i.icon-form-checkbox,label.label-checkbox input[type=radio]:checked ~ .item-after i.icon-form-checkbox,label.label-checkbox input[type=checkbox]:checked ~ .item-inner i.icon-form-checkbox,label.label-checkbox input[type=radio]:checked ~ .item-inner i.icon-form-checkbox{border-color:#ff5722;background-color:#ff5722}
label.label-checkbox i.icon-form-checkbox{width:19px;height:19px;border:1px solid #464646;border-radius:0}
label.label-checkbox i.icon-form-checkbox:after{top:-1px;left:-1px}
input[type=submit]{border:none;border-radius:0;background-color:transparent;-webkit-appearance:none;-moz-appearance:none;appearance:none;cursor:pointer}
input[type=search]::-webkit-search-cancel-button{display:none;-webkit-appearance:none !important}
input[type=search]::-ms-clear{width:0;height:0}

.toolbar-bottom{height:40px;border-top:1px solid #9c9c9c;background:#fff}

input::-webkit-input-placeholder{font-size:12px;color:#a0a0a0}

.views .btn{display:block;width:100%;height:40px;margin:10px 0;border:0;background:#ff5722;line-height:40px;font-size:15px;color:#fff;text-align:center;box-sizing:border-box}
.views .btn.border{border:1px solid #ff5722;background:#fff;color:#ff5722}
.views .btn.btn_gray{background:#878787}
.views .btn_sm{display:inline-block;height:26px;padding:0 15px;border:1px solid #acacac;background:#fff;line-height:26px;font-size:13px;color:#252525}

.modal{overflow:hidden;border-radius:12px;box-shadow:none}
.modal-inner{padding:0}

.modal-title{height:30px;background:#ff5722;line-height:30px;font-size:13px;color:#fff;text-align:center}
.modal-text{font-size:13px;color:#282828;text-align:center}
.modal-title + .modal-text{margin:30px 0}
.modal-buttons{height:40px;padding:0}
.modal-button,.modal-buttons .button{width:100%;height:40px;padding:0;border-radius:0;line-height:40px;color:#ff5722}

.picker-modal .toolbar-inner{-webkit-box-pack:justify;-ms-flex-pack:justify;-webkit-justify-content:space-between;justify-content:space-between}

.views .list-block{margin:0}
.views .list-block .item-content{min-height:0;margin-top:-1px;padding-left:0;background:#fff}
.views .list-block .item-content.border{border:1px solid #cdcdcd}
.views .list-block .input-item .item-inner,.views .list-block.inputs-list .item-inner{min-height:0;margin-bottom:0;padding:0}
.views .list-block .label,.views .list-block .floating-label{display:inline-block;position:absolute;top:0;left:20px;z-index:5;width:auto;height:42px;font-size:13px;font-weight:bold;line-height:42px;color:#858585}
.views .list-block .item-inner.focus-state .label,.views .list-block .item-inner.focus-state .floating-label{color:#ff5722}
.views .list-block .item-input{margin-bottom:0}
.views .list-block ul:before{display:none}
.views .item-input-field:after,.views .input-field:after{display:none}
.views .list-block input[type=text],.views .list-block input[type=password],.views .list-block input[type=search],.views .list-block input[type=email],.views .list-block input[type=tel],.views .list-block input[type=url],.views .list-block input[type=date],.views .list-block input[type=datetime-local],.views .list-block input[type=time],.views .list-block input[type=number],.views .list-block select,.views .list-block textarea{height:42px;padding:12px 0 12px 96px;border:1px solid #cdcdcd;background:#fff;font-size:13px;line-height:18px;color:#2a2a2a}
.views .list-block .border input[type=text],.views .list-block .border input[type=password],.views .list-block .border input[type=search],.views .list-block .border input[type=email],.views .list-block .border input[type=tel],.views .list-block .border input[type=url],.views .list-block .border input[type=date],.views .list-block .border input[type=datetime-local],.views .list-block .border input[type=time],.views .list-block .border input[type=number],.views .list-block .border select,.views .list-block .border textarea{border:0}

.page-content{background:#f5f5f5}
.navbar{height:50px;border-bottom:1px solid #ff5722;background:#fff}
.navbar .left,.subnavbar .left,.navbar .right,.subnavbar .right{width:50px}
.navbar a.link{width:50px;height:50px;padding:0;line-height:50px}
.navbar-fixed .messagebar ~ .page-content,.navbar-fixed .toolbar-bottom ~ .page-content{padding-top:50px}
.navbar .center,.subnavbar .center{width:100%;line-height:50px;font-size:18px;color:#282828;text-align:center}
.navbar-fixed .page-content{padding-top:50px}
.navbar-fixed .page .subnavbar,.navbar-fixed.page .subnavbar{top:50px;height:40px;padding:0}

i.icon{width:24px;height:24px;background:url(../img/sp.png) no-repeat 0 0;background-size:250px 250px;text-align:center}
i.icon.icon-back{background-position:0 0}
i.icon.icon-close{background-position:-25px 0}
i.icon.icon-search{background-position:0 -25px}
i.icon.icon-cart{position:relative;background-position:-25px -25px}
i.icon.icon-cart.on{background-position:-25px -100px}
i.icon.icon-cart span{position:absolute;top:-3px;right:-5px;width:15px;height:15px;border-radius:8px;background:#ff5722;line-height:15px;font-size:10px;color:#fff}
i.icon.icon-share{background-position:0 -50px}
i.icon.icon-home{background-position:-25px -50px}
i.icon.icon-home.on{background-position:-25px -125px}
i.icon.icon-nav{background-position:0 -75px}
i.icon.icon-nav.on{background-position:0 -125px}
i.icon.icon-mypage{background-position:-25px -75px}
i.icon.icon-mypage.on{background-position:-25px -150px}
i.icon.icon-history{background-position:0 -100px}
i.icon.icon-history.on{background-position:0 -150px}
i.icon.icon-history span{position:absolute;top:-3px;right:-5px;width:15px;height:15px;border-radius:8px;background:#ff5722;line-height:15px;font-size:10px;color:#fff}

i.icon.icon-flag{width:20px;height:14px}
i.icon.icon-flag.kr{background-position:-50px -25px}
i.icon.icon-flag.cn{background-position:-75px -25px}
i.icon.icon-flag.jp{background-position:-100px -25px}
i.icon.icon-flag.en{background-position:-125px -25px}

.col{margin-left:-5px}
.col:after{display:block;clear:both;content:''}
.col li{float:left;width:100%}
.col.col2 li{width:50%}
.col.col3 li{width:33.3333%}
.col.col4 li{width:25%}
.col.col5 li{width:20%}
.col div{margin-left:5px}
.col div a{display:block}

.tab02{display:-webkit-box;display:-webkit-flex;display:flex;width:100%;height:40px;-webkit-box-align:center;-webkit-align-items:center;align-items:center}
.tab02 a,.tab02 span{width:100%;height:40px;border-left:1px solid #f5f5f5;background:#fff;line-height:40px;font-size:13px;color:#525252;text-align:center;-webkit-box-pack:center;justify-content:centner;-webkit-box-align:center;-webkit-align-items:center;align-items:center;box-sizing:border-box}
.tab02 a.tab_active,.tab02 span.tab_active{border-bottom:2px solid #ff825b;font-weight:bold;color:#fff;color:#252525}
.tab02 a:first-child,.tab02 span:first-child{border-left:0}

/* member */
.member_login{padding:23px 15px}
.member_login .content-block{margin:0;padding:0}

.member_login .sns_link{margin-top:25px;margin-left:-7px}
.member_login .sns_link:after{display:block;clear:both;content:''}
.member_login .sns_link li{float:left;width:33.3333%}
.member_login .sns_link li div{position:relative;margin-left:7px}
.member_login .sns_link li div a{display:block;height:24px;padding:7px;border:1px solid #cdcdcd;background:#fff;line-height:12px;font-size:10px;color:#878787;text-align:center}
.member_login .sns_link li div a span{display:inline-block;position:relative;padding-left:30px;text-align:left}
.member_login .sns_link li div a i.icon{position:absolute;top:0;left:0;width:24px;height:24px;background:url(../img/sp.png) no-repeat -50px 0;background-size:250px 250px}
.member_login .sns_link li div a i.icon.icon-kakao{background-position:-50px 0}
.member_login .sns_link li div a i.icon.icon-facebook{background-position:-75px 0}
.member_login .sns_link li div a i.icon.icon-google{background-position:-100px 0}

.member_login .member_link{margin-top:20px}
.member_login .member_link:after{display:block;clear:both;content:''}
.member_login .member_link li{float:left;width:33.3333%;height:15px}
.member_login .member_link li a{display:block;height:15px;border-left:1px solid #878787;line-height:15px;font-size:13px;color:#878787;text-align:center}
.member_login .member_link li:first-child a{border-left:0}

.member_register{padding:23px 15px}
.member_register .list-block .item-content.ns{margin-top:15px}
.member_register .list-block .item-content .check_txt{margin:0 20px 10px;font-size:11px;color:#fe0000}
.member_register .content-block{margin:0;padding:0}
.member_register .agree_area{position:relative;border:1px solid #cdcdcd;background:#fff}
.member_register .agree_area h3{position:relative;margin:0;padding:20px 15px 15px;border-bottom:2px solid #252525;font-size:15px;color:#252525}
.member_register .agree_area h3 .item-media{margin-bottom:0;font-size:15px;font-weight:normal}
.member_register .agree_area h3 .agree_check{position:absolute;top:13px;right:10px}
.member_register .agree_area h3 .agree_check i{margin-right:5px}
.member_register .agree_area ul{padding:25px 0}

.member_register .agree_area ul li{position:relative;padding-left:12px;line-height:0}
.member_register .agree_area ul li a{position:absolute;top:0;right:12px;line-height:35px;font-size:13px;color:#2a2a2a}
.member_register .agree_area ul .item-media{margin-bottom:0;font-size:13px;font-weight:normal}
.member_register .agree_area ul .item-media .imp{color:#878787}
.member_register .agree_area ul .agree_check{display:inline-block}
.member_register .agree_area ul .agree_check i{margin-right:5px}
.member_register .agree_area .db_label{display:inline-block;position:absolute;top:0;right:12px}

.member_register_success{padding:23px 15px}
.member_register_success .success_area{padding:60px 0;border:1px solid #cdcdcd;background:#fff;text-align:center}
.member_register_success .success_area p{margin:0}
.member_register_success .success_area .txt01{margin-bottom:10px;font-size:20px}
.member_register_success .success_area .txt01 strong{color:#ff5722}
.member_register_success .success_area .txt02{font-size:13px}
.member_register_success .content-block{margin:0;padding:0}

.member_search_idpw{padding:23px 15px}
.member_search_idpw .content-block{margin:0;padding:0}
.member_search_idpw .show_pw,.member_search_idpw .show_id{display:none}
.member_search_idpw.show_tab1 .show_id{display:block}
.member_search_idpw.show_tab2 .show_pw{display:block}

.member_search_idpw .sub_tab{display:-webkit-box;display:-webkit-flex;display:flex;border-bottom:2px solid #ff825b;-webkit-box-align:center;-webkit-align-items:center;align-items:center}
.member_search_idpw .sub_tab a{width:100%;height:40px;background:#fff;line-height:40px;color:#525252;text-align:center;-webkit-box-pack:center;justify-content:centner;-webkit-box-align:center;-webkit-align-items:center;align-items:center}
.member_search_idpw .sub_tab a.tab_active{background:#ff5722;font-weight:bold;color:#fff}
.member_search_idpw .item-content .btn_sm{position:absolute;top:7px;right:15px}
.member_search_idpw .item-content .cer_code{margin:0 20px 10px;font-size:11px}
.member_search_idpw .item-content .cer_code em{font-style:normal;color:#fe0000}

.member_search_id_success{padding:23px 15px}
.member_search_id_success .success_area{padding:30px 0;border:1px solid #cdcdcd;background:#fff;text-align:center}
.member_search_id_success .success_area p{margin:0}
.member_search_id_success .success_area .txt01{margin-bottom:35px;font-size:15px;color:#2a2a2a}
.member_search_id_success .success_area .txt02{display:block;height:45px;margin:0 20px 45px;border-radius:45px;background:#f5f5f5;font-size:18px;font-weight:bold;line-height:45px;color:#ff5722;text-align:center}
.member_search_id_success .success_area .txt03{padding:0 10px;font-size:12px;color:#252525}
.member_search_id_success .content-block{margin:0;padding:0}

.member_change_pw{padding:23px 15px}
.member_change_pw .content-block{margin:0;padding:0}

/* detail */
div[data-page=detail] .page-content{padding-bottom:70px}
div[data-page=detail] .subnavbar{display:none;position:absolute;top:50px}
.detail .img_section img{width:100%;height:100vw}
.detail .img_section div{font-size:0;line-height:0}
.detail .info_section{margin-bottom:10px;background:#fff}
.detail .info_section .tit{padding:8px 15px;font-size:15px;line-height:18px}
.detail .price_section{position:relative;height:35px;padding:8px 15px}
.detail .price_section:after{display:block;content:'clear:both'}
.detail .price_section .txt_sale{float:left;font-size:25px;font-weight:bold;color:#ff5722}
.detail .price_section .txt_price{float:left;position:relative;margin-left:6px}
.detail .price_section .txt_price .price01{position:absolute;top:2px;left:0;font-size:10px;color:#878787;text-decoration:line-through}
.detail .price_section .txt_price .price02{display:block;padding:17px 0 2px;line-height:16px;font-size:15px;color:#282828}
.detail .price_section .txt_total_sell{float:left;margin-left:6px;padding:21px 0 3px;line-height:11px;font-size:10px;color:#282828}
.detail .price_section .btn_share{display:block;position:absolute;top:8px;right:15px;width:35px;height:35px}
.detail .price_section .btn_share i{position:absolute;top:5px;left:5px}
.detail .option{position:relative;height:14px;padding:6px 15px 6px 43px;border-top:1px solid #f5f5f5}
.detail .option i{position:absolute;top:6px;left:15px}
.detail .option span{display:inline-block;margin-right:8px;font-size:10px;line-height:14px;vertical-align:top}
.detail .option span.col01{color:#0078f3}
.detail .option span.col02{color:#ff5722}
.detail .option span.col03{color:#3cb878}
.detail .option span.col04{color:#ed145b}

.detail .detail_content{overflow:hidden;width:100%;box-sizing:border-box}
.detail .content01{padding-bottom:70px}
.detail .content02{display:none;padding:20px 15px 70px;font-size:13px;box-sizing:border-box}

.toolbar-buy{height:auto;padding:15px;border-top:1px solid #cdcdcd;background:#fff}
.toolbar-buy.open{height:auto}
.toolbar-buy .tb_control{display:block;position:absolute;top:-16px;left:50%;margin-left:-25px}
.toolbar-buy .tb_control i{display:block;width:49px;height:17px;background:url(../img/sp.png) no-repeat -125px 0;background-size:250px 250px}
.toolbar-buy.open .tb_control i{background-position:-175px 0}
.toolbar-buy .tb_back{display:block;position:absolute;top:-50px;left:15px}
.toolbar-buy .tb_back i{display:block;width:39px;height:39px;background:url(../img/sp.png) no-repeat -50px -40px;background-size:250px 250px}
.toolbar-buy .tb_top{display:block;display:none;position:absolute;top:-50px;right:15px}
.toolbar-buy .tb_top i{display:block;width:39px;height:39px;background:url(../img/sp.png) no-repeat -90px -40px;background-size:250px 250px}

.toolbar-buy ul.btn_section{margin-left:-5px}
.toolbar-buy ul.btn_section:after{display:block;clear:both;content:''}
.toolbar-buy ul.btn_section li{float:left;width:50%}
.toolbar-buy ul.btn_section li div{margin-left:5px}
.toolbar-buy ul.btn_section li a.btn{margin:0}

.toolbar-buy .option_section{display:none}
.toolbar-buy.open .option_section{display:block}
.toolbar-buy .option_select>li{position:relative}
.toolbar-buy .option_select>li>input{width:100%;height:30px;margin-bottom:10px;padding:8px 14px;border:1px solid #878787;line-height:14px;font-size:13px;color:#878787;box-sizing:border-box}
.toolbar-buy .option_select>li>input.on.sel{border:2px solid #ff5722}
.toolbar-buy .option_select>li> i{display:block;position:absolute;top:10px;right:12px;z-index:10;width:18px;height:10px;background:url(../img/sp.png) no-repeat -150px -20px;background-size:250px 250px;content:''}
.toolbar-buy .option_select>li>input.on.sel+i{background-position:-170px -20px}
.toolbar-buy .option_select>li> ul{display:none;position:absolute;top:30px;left:0;z-index:20;width:100%;border:2px solid #ff5722;border-top:0;background:#fff;box-sizing:border-box}
.toolbar-buy .option_select>li>input.on.sel+i+ul{display:block}
.toolbar-buy .option_select>li>input.on+i+ul li{height:25px;padding-left:13px;border-top:1px solid #878787;line-height:25px;font-size:13px;color:#282828}
.toolbar-buy .option_select>li>input.on+i+ul li:first-child{border-top:0}

.toolbar-buy .select_section{display:none;overflow:hidden;overflow-y:auto;max-height:157px;margin-bottom:15px;padding:8px 10px;border:1px solid #878787}
.toolbar-buy.open .select_section{display:block}
.toolbar-buy .select_section ul li{position:relative;margin-bottom:10px;padding-bottom:7px;border-bottom:1px solid #cdcdcd}
.toolbar-buy .select_section ul li .tit{display:block;height:14px;margin-bottom:5px;line-height:14px;font-size:13px;color:#282828}
.toolbar-buy .select_section ul li a.btn_delete{display:block;position:absolute;top:0;right:0;width:15px;height:15px;background:url(../img/sp.png) no-repeat -130px -40px;background-size:250px 250px}
.toolbar-buy .select_section ul li .num_count{height:22px}
.toolbar-buy .select_section ul li .num_count a{display:inline-block;width:22px;height:22px;background:url(../img/sp.png) no-repeat 0 0;background-size:250px 250px}
.toolbar-buy .select_section ul li .num_count a.btn_m{background-position:-150px -40px}
.toolbar-buy .select_section ul li .num_count a.btn_p{background-position:-175px -40px}
.toolbar-buy .select_section ul li .num_count input{width:40px;height:22px;border:1px solid #878787;color:#878787;text-align:center;vertical-align:top;box-sizing:border-box}
.toolbar-buy .select_section ul li .price{position:absolute;right:0;bottom:5px;height:16px;font-size:15px;font-weight:bold;line-height:16px;color:#282828}
.toolbar-buy .total_price{font-weight:bold;color:#ff5722;text-align:right}