@charset "UTF-8";
@import 'base/base';
.category_product_page {
    * {
        box-sizing: border-box;
    }
}

.category_nav {
    span {
        padding-right: 10px;
        width: 100px;
    }
}

.category__product_page_content {
    >.page-content {
        overflow: visible;
        padding-top: 0px;
        .toolbar {
            line-height: 42px;
            height: 42px;
            top: 0px;
            overflow: -moz-scrollbars-vertical;
        }
    }
    .toolbar-inner {
        height: 42px;
        background-color: $white;
        .tab-link {
            color: $c87;
        }
        .tab-link.active {
            color: $orange;
        }
    }
    .tabs {
        .page-content {
            padding-top: 0;
        }
    }
}

.products_show_tools {
    padding-left: 15px;
    height: 35px;
    background-color: $lightOrange;
    line-height: 35px;
    margin-bottom: 12px;
    .open-panel {
        text-align: center;
        float: right;
        display: block;
        width: 46px;
        height: 35px;
    }
    .products_total_num {
        color: $white;
        i {
            font-style: normal;
        }
    }
    .selected {
        background-color: #ffffff;
        border-top: 1px solid #e7e7e7;
        .select_icon {
            background-position: -176px -64px;
        }
        .cur-select {
            color: $lightOrange;
        }
        +.sort_lists {
            display: block;
        }
    }
    .current_state {
        font-size: 12px;
        float: right;
        width: 120px;
        padding: 0px 10px;
        height: 35px;
        border-left: 1px solid #f47d3b;
        border-right: 1px solid #f47d3b;
    }
    .display_change {
        @include imge();
        // display: block;
        width: 16px;
        height: 16px;
        background: url(../img/sp2.png) no-repeat 0 -195px;
        background-size: 250px 250px;
    }
    .select_icon {
        margin-top: 12px;
        float: right;
        background: url("../img/sp2.png") no-repeat -176px -70px;
        background-size: 250px 250px;
        width: 14px;
        height: 9px;
        display: inline-block;
    }
    .cur-select {
        color: $white;
    }
    .sort_lists {
        font-size: 12px;
        width: 120px;
        position: absolute;
        top: 77px;
        right: 46px;
        border: 1px solid #f5f5f5;
        z-index: 9999;
        background: $white;
        display: none;
        li {
            padding-left: 10px;
        }
    }
}

.filter-content {
    font-size: 12px;
}

.filter_tools {
    height: 50px;
    padding: 15px;
    a {
        height: 20px;
        display: block;
        color: $c87;
    }
    .icon-reset {
        width: 16px;
        height: 17px;
        margin-right: 7px;
        display: inline-block;
        background: url("../img/sp2.png") no-repeat;
        background-size: 250px 250px;
        background-position: -224px -40px;
        vertical-align: top;
    }
    .icon-esc {
        width: 9px;
        height: 9px;
        margin-right: 7px;
        display: inline-block;
        background: url("../img/sp2.png") no-repeat;
        background-size: 250px 250px;
        background-position: -211px -41px;
        vertical-align: middle;
    }
    .reset {
        float: left;
    }
    .del {
        float: right;
    }
}

.filter_item {
    color: $c87;
    a {
        color: $c87;
    }
    .filter_header {
        padding: 0px 15px;
        line-height: 42px;
        border-bottom: 1px solid #f0f0f0;
        .icon-arrow {
            float: right;
            margin-top: 19px;
            margin-right: 4px;
            width: 7px;
            height: 5px;
            display: inline-block;
            background: url("../img/sp2.png") no-repeat;
            background-size: 250px 250px;
            background-position: -187px -65px;
            vertical-align: middle;
        }
    }
    .accordion-item-content {
        font-size: 12px;
        padding: 0px 15px;
        background-color: $f5;
    }
    .filter_classify_lists li.active,
    .filter_brand_lists li.active {
        font-weight: 800;
        font-size: 14px;
        color: #666666;
    }
    ul {
        margin: 6px 0px;
    }
    .price_filter_content {
        margin: 15px 0;
    }
    .accordion-item-content {
        line-height: 32px;
    }
    i {
        font-style: normal;
    }
}

.filter_item.accordion-item-expanded {
    .icon-arrow {
        background-position: -187px -74px;
    }
}

.filter_item_price {
    .price_choice {
        width: 100%;
        float: left;
        text-align: center;
        li {
            height: 32px;
        }
        input {
            border: 1px solid #acacac;
            height: 32px;
            width: 98px;
            float: left;
            background-color: $white;
            padding-left: 15px;
        }
        .start_num {
            float: left;
        }
        .end_num {
            float: right;
        }
    }
}

.filter_selected {
    ul {
        padding:0px 15px;
        @include cfx();
        li {
            padding-right:6px;
            float: left;
            line-height: 36px;
            color: $c87;
        }
    }
    .icon-del {
        width: 16px;
        height: 16px;
        margin-left:6px;
        display: inline-block;
        background: url("../img/sp2.png") no-repeat;
        background-size: 250px 250px;
        background-position: -199px -62px;
        vertical-align: middle;

    }
}